/* src/index.css */

/* 1. Reset navigateur */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Appliquer fond global */
html, body {
  background-color: #EAE0C8;
  color: #0F9E99; 
  min-height: 100vh;
  font-family: sans-serif;
}
