/* src/index.css */

/* 1. Reset navigateur */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Appliquer fond global */
html, body {
  background-color: #EFE9E0;
  color: #0F9E99; 
  min-height: 100vh;
  font-family: 'Expletus Sans', sans-serif;
  font-weight: 500;
}
